export FLARUM_URL="https://forum-dev.bookingbug.com"
export CLIENTS_SERVICE_URL="https://clients-service-dev.bookingbug.com"
export PATH="./node_modules/.bin:$PATH"
export NODE_ENV="development"
export DSM="https://729e7cc359a747b3bf892b92f2d307ca:6e3e509a59034a56a3c0a9581791b0df@app.getsentry.com/85688"
