<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
    <head itemscope itemtype="http://schema.org/WebSite">
        <base href="/">
        <title itemprop='name'>Developer Docs - BookingBug</title>
        <link rel="canonical" href="http://docs.bookingbug.com/" itemprop="url">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        
        <meta name="Author"        content="BookingBug">
        <!-- <meta name="Author"        content="max@lemnodigits.com"> -->
        <meta name="Description"   content="Developer documentation for the market leading appointment booking software">
        <meta name="Revisit-After" content="7 Days">
        <meta name="Robots"        content="index, follow">
        <meta name="viewport"      content="initial-scale=1, maximum-scale=1, width=device-width">
        
        <meta property="og:title" content="BookingBug Developer Documentation">
        <meta property="og:site_name" content="Developer Docs | BookingBug">
        <meta property="og:url" content="http://docs.bookingbug.com/">
        <meta property="og:description" content="Developer documentation for the market leading appointment booking software">
        <meta property="fb:app_id" content="">
        <meta property="og:type" content="article">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@bookingbug">
        <meta name="twitter:title" content="BookingBug Developer Documentation">
        <meta name="twitter:description" content="Developer documentation for the market leading appointment booking software">
        <meta name="twitter:image" content="assets/images/image.jpg">
        
        <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png?v=Gvvrpgk4pM">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png?v=Gvvrpgk4pM">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png?v=Gvvrpgk4pM">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png?v=Gvvrpgk4pM">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png?v=Gvvrpgk4pM">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png?v=Gvvrpgk4pM">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png?v=Gvvrpgk4pM">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png?v=Gvvrpgk4pM">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon-180x180.png?v=Gvvrpgk4pM">
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png?v=Gvvrpgk4pM" sizes="32x32">
        <link rel="icon" type="image/png" href="assets/images/favicons/android-chrome-192x192.png?v=Gvvrpgk4pM" sizes="192x192">
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png?v=Gvvrpgk4pM" sizes="96x96">
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png?v=Gvvrpgk4pM" sizes="16x16">
        <link rel="manifest" href="assets/images/favicons/manifest.json?v=Gvvrpgk4pM">
        <link rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg?v=Gvvrpgk4pM" color="#5bbad5">
        <link rel="shortcut icon" href="assets/images/favicons/favicon.ico?v=Gvvrpgk4pM">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-TileImage" content="assets/images/favicons/mstile-144x144.png?v=Gvvrpgk4pM">
        <meta name="msapplication-config" content="assets/images/favicons/browserconfig.xml?v=Gvvrpgk4pM">
        <meta name="theme-color" content="#ffffff">
        
        <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="bower_components/animate.css/animate.css">

        <link rel="stylesheet" type="text/css" href="dist/less.min.css">

        <script src="https://use.typekit.net/edc0lcp.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-3759746-10', 'auto');
        ga('send', 'pageview');
        
        
        </script>

        <!-- Google logos https://developers.google.com/structured-data/customize/logos -->
        <!--script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Organization",
              "url": "http://www.example.com",
              "logo": "http://www.example.com/images/logo.png"
            }
        </script-->

        <!-- Google Contact Points https://developers.google.com/structured-data/customize/contact-points -->
        <!--script type="application/ld+json">
            { 
            "@context" : "http://schema.org",
            "@type" : "Organization",
            "url" : "http://www.your-company-site.com",
            "contactPoint" : [
                { "@type" : "ContactPoint",
                  "telephone" : "+1-401-555-1212",
                  "contactType" : "customer service"
                } ]
            }
        </script-->

        <!-- Google Social Profiles https://developers.google.com/structured-data/customize/social-profiles -->
        <!--script type="application/ld+json">
        { "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "Your Organization Name",
          "url" : "http://www.your-site.com",
          "sameAs" : [ "http://www.facebook.com/your-profile",
            "http://www.twitter.com/yourProfile",
            "http://plus.google.com/your_profile"] 
        }
        </script-->

    </head>

    <body>
    <div class="browser-warning js">
        <i class="fa fa-exclamation-circle"></i>&nbsp; For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank" target="_blank"> instructions how to enable JavaScript in your web browser</a>.
    </div>
    <div class="browser-warning ie">
        <i class="fa fa-exclamation-circle"></i>&nbsp;<a href="http://www.whatbrowser.org/intl/en_uk/" target="_blank">You are using an out of date browser, we suggest you upgrade. You may continue if you wish, but aspects of the site may not function correctly.</a>
    </div>