<nav class="main-menu">
	<ul>
		<li><a href="/"><i class="fa fa-fw fa-map-signs"></i>&nbsp;Getting Started</a>
			<ul>
				<li><a href="getting-started/choosing-your-plan">Choosing Your Plan</a></li>
				<li><a href="getting-started/account-set-up">Account Set Up</a></li>
			</ul>
		</li>
		<li><a href="widget"><i class="fa fa-fw fa-code"></i>&nbsp;Widget</a>
			<ul>
				<li><a href="widget/embed-your-widget">Embed your widget</a></li>
				<li><a href="widget/customise-your-widget">Customise your widget</a></li>
			</ul>
		</li>
		<li><a href="integrations"><i class="fa fa-fw fa-plug"></i>&nbsp;Integrations</a>
			<ul>
				<li><a href="integrations/enterprise">Enterprise platforms &amp; services</a></li>
				<li><a href="integrations/business-intelligence">Business intelligence, data &amp; accounting</a></li>
				<li><a href="integrations">Mobile &amp; on-line payments</a></li>
				<li><a href="integrations">SME &amp; social</a></li>
			</ul>
		</li>
		<li><a href=""><i class="fa fa-fw fa-object-group"></i>&nbsp;Designer</a>
			<ul>
				<li><a href="">Creating a Widget</a></li>
				<li><a href="">Adding to the Templates</a></li>
				<li><a href="">Customise the look and feel</a></li>
			</ul>
		</li>
		<li><a href=""><i class="fa fa-fw fa-code-fork"></i>&nbsp;JavaScript SDK</a>
			<ul>
				<li><a href="">Install</a></li>
				<li><a href="">Getting Started</a></li>
				<li><a href="">Examples</a></li>
				<li><a href="">SDK Reference</a></li>
			</ul>
		</li>
		<li><a href=""><i class="fa fa-fw fa-terminal"></i>&nbsp;REST API</a>
			<ul>
				<li><a href="">Permissions</a></li>
				<li><a href="">Queueing</a></li>
				<li><a href="rest-api/service-booking">Service Booking</a></li>
				<li><a href="">Event Booking</a></li>
				<li><a href="">Packages and Bulk Purchases</a></li>
				<li><a href="">Discounts</a></li>
				<li><a href="">API Reference</a></li>
			</ul>
		</li>
		<li><a href=""><i class="fa fa-fw fa-rocket"></i>&nbsp;Experts</a>
			<ul>
				<li><a href="">Find an Expert</a></li>
				<li><a href="">Apply to become an Expert</a></li>
			</ul>
		</li>
		<li><a href=""><i class="fa fa-fw fa-life-ring"></i>&nbsp;Tools &amp; Support</a>
			<ul>
				<li><a href="">Useful Tools</a></li>
				<li><a href="">Forum</a></li>
				<li><a href="">Knowledge Base</a></li>
				<li><a href="">Video Tutorials</a></li>
				<li><a href="">Contact Support</a></li>
				<li><a href="">Github</a></li>
				<li><a href="">StackOverflow</a></li>
			</ul>
		</li>
	</ul>
</nav>