<nav class="main-menu">
	<div class="logo">
		<a href="/"><img src="/assets/images/bblogo.svg" alt=""></a>
	</div>
	<div class="menu-toggle"></div>
	<ul>
		<li><span><i class="fa fa-fw fa-map-signs">&nbsp;</i>Getting Started</span>
			<ul>
				<li><a href="getting-started/choosing-a-plan">Choosing a Plan</a></li>
				<li><a href="getting-started/account-set-up">Account Set Up</a></li>
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-code">&nbsp;</i>Widget</span>
			<ul>
				<li><a href="widget">Embed your widget</a></li>
				<li><a href="widget/customise-your-widget">Customise your widget</a></li>
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-plug">&nbsp;</i>Integrations</span>
			<ul>
				<li><a href="integrations">Enterprise platforms &amp; services</a></li>
				<li><a href="integrations/business-intelligence">Business intelligence, data &amp; accounting</a></li>
				<li><a href="integrations">Mobile &amp; on-line payments</a></li>
				<li><a href="integrations">SME &amp; social</a></li>
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-object-group">&nbsp;</i>Designer</span>
			<ul>
				<li><a href="">Creating a Widget</a></li>
				<li><a href="">Customising your </a></li>
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-code-fork">&nbsp;</i>JavaScript SDK</span>
			<ul>
				<li><a href="javascript-sdk">Install</a></li>
				<li><a href="javascript-sdk/getting-started">Getting Started</a></li>
				<!-- <li><a href="">Examples</a></li> -->
				<li><a href="http://platform.bookingbug.com/sdkdocs/#/api" target="_blank">SDK Reference</a></li>
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-terminal">&nbsp;</i>REST API</span>
			<ul>
				<li><a href="">Permissions</a></li>
				<li><a href="">Queueing</a></li>
				<li><a href="rest-api/service-booking">Service Booking</a></li>
				<li><a href="">Event Booking</a></li>
				<li><a href="">Packages and Bulk Purchases</a></li>
				<li><a href="">Discounts</a></li>
				<li><a href="http://apidocs.bookingbug.com/" target="_blank">API Reference</a></li>
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-rocket">&nbsp;</i>Experts</span>
			<ul>
				<li><a href="">Find an Expert</a></li>
				<li><a href="">Apply to become an Expert</a></li>
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-life-ring">&nbsp;</i>Tools &amp; Support</span>
			<ul>
				<li><a href="/tools-and-support/useful-tools" target="_blank">Useful Tools</a></li>
				<li><a href="http://feedback.bookingbug.com/hc/en-gb" target="_blank">Knowledge Base</a></li>
				<li><a href="https://www.youtube.com/user/BookingBug1" target="_blank">Video Tutorials</a></li>
				<li><a href="http://feedback.bookingbug.com/hc/en-gb/requests/new" target="_blank">Contact Support</a></li>
				<li><a href="https://github.com/BookingBug" target="_blank">Github</a></li>
				<li><a href="http://stackoverflow.com/search?q=bookingbug" target="_blank">StackOverflow</a></li>
			</ul>
		</li>
	</ul>
</nav>