<nav class="main-menu">
	<ul>
		<li>Widget
			<ul>
				<li>Account Set Up</li>
				<li>Embed your widget</li>
				<li>Customise the Look of your widget</li>
			</ul>
		</li>
		<li>Integrations
			<ul>
				<li>Enterprise platforms &amp; services</li>
				<li>Business intelligence, data &amp; accounting</li>
				<li>Mobile &amp; on-line payments</li>
				<li>SME &amp; social</li>
			</ul>
		</li>
		<li>Designer
			<ul>
				<li>Creating a Widget</li>
				<li>Adding to the Templates</li>
				<li>Customise the look and feel</li>
			</ul>
		</li>
		<li>Client SDK
			<ul>
				<li>Install</li>
				<li>Getting Started</li>
				<li>Examples</li>
				<li>SDK Reference</li>
			</ul>
		</li>
		<li>API
			<ul>
				<li>Permissions</li>
				<li>Queueing</li>
				<li>Bookings</li>
				<li>Packages and Bulk Purchases</li>
				<li>Discounts</li>
				<li>API Reference</li>
			</ul>
		</li>
		<li>Experts
			<ul>
				<li>Find an Expert</li>
				<li>Apply to become an Expert</li>
			</ul>
		</li>
		<li>Tools &amp; Support
			<ul>
				<li>Useful Tools</li>
				<li>Forum</li>
				<li>Knowledge Base</li>
				<li>Video Tutorials</li>
				<li>Contact Support</li>
				<li>Github</li>
				<li>StackOverflow</li>
			</ul>
		</li>
	</ul>
</nav>