{% include 'header.twig' %}

<h1>FrontEndSeed</h1>

<p>Fast App Prototyping</p>

<a href="http://gitlab.lemondigits.com/internal/frontendseed/wikis/home">Check The Wiki</a>

{% include 'footer.twig' %}