{% include 'components/header.twig' %}

<h1>FrontEndSeed</h1>

<p>Fast App Prototyping</p>

test test

<a href="https://github.com/maxmckenzie/FrontEndSeed/wiki">Check The Wiki</a>

{% include 'components/footer.twig' %}