{% include 'bbug::components/header.twig' %}

<div class="wrapper">
	{% include 'bbug::components/menu.twig' %}
	<div class="content markdown-body">
		<div class="container">
			{{ content }}
		</div>
	</div>
</div>

{% include 'bbug::components/footer.twig' %}