<form action="/auth/login" method="POST">
  <label for="username">email</label>
  <input type="text" name="username" type="text">
  <label for="password">password</label>
  <input type="text" name="password" type="password">
  <input type="submit">
</form>