{% include 'bbug::components/header.twig' %}

<form action="/auth/register/new" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="email">email</label>
  <input type="email" name="email">
  <label for="password">password</label>
  <input type="password" name="password">
  <input type="submit">
</form>

{% include 'bbug::components/footer.twig' %}
