.account {
  &__column {
    width:50%;
    display: inline-block;
    padding:0.5em;
  }

  &__companies {

  }

  &__company {
    
  }

  &__forum-posts {

  }

  &__profile {

  }

  &__doc-links {

  }

}
