.card {
	width:24%;
	@media (max-width:45rem) {
		width:49%;
	}
	@media (max-width:25rem) {
		width:99%;
	}
	display: inline-block;
	padding:0.65rem 0.5rem;
	vertical-align: top;
	div {
		border:1px solid lighten(#141414, 85%);
		border-radius: 0.5rem;
		padding:0.65rem;
		display: block;
		min-height: 15rem;
	}
	img {
		width: 100%;
		border-radius: 0.25rem 0.25rem 0 0;
	}
	p {
		margin-bottom: 0;
		font-size: 0.85rem;
		color: lighten(#141414, 20%);
		b {
			font-size: 0.9rem;
			color: lighten(#141414, 10%);
		}
	}

	.fa-angle-right {
		padding-left: .25rem;
		position: relative;
		top: 0.0645rem;
	}
}

.card.experts-apply {
	text-align: center;
	i {
		font-size: 5rem;
		color:lighten(#141414, 40%);
	}
	a {
		font-size: 1.25rem;
		line-height: 1.25rem;
		color:lighten(#141414, 40%);
	}
}

.card:nth-child(4n) {
	padding-left:0;
}

@media (max-width:45rem) {
	.card:nth-child(2n) {
		padding-left:0;
	}
}
