.card {
	width:24%;
	@media (max-width:45rem) {
		width:49%;
	}
	@media (max-width:25rem) {
		width:99%;
	}
	display: inline-block;
	padding:0.65rem 0.5rem;
	vertical-align: top;
	div {
		border:1px solid lighten(#141414, 85%);
		border-radius: 0.5rem;
		padding:0.65rem;
		display: block;
		min-height: 15rem;
	}
	img {
		width: 100%;
		border-radius: 0.25rem 0.25rem 0 0;
	}
	p {
		margin-bottom: 0;
		font-size: 0.85rem;
		color: lighten(#141414, 20%);
		b {
			font-size: 0.9rem;
			color: lighten(#141414, 10%);
		}
	}

	.fa-angle-right {
		padding-left: .25rem;
		position: relative;
		top: 0.0645rem;
	}

	&__link {
		text-align: center;
		a,
		a:hover {
    	text-decoration: none;
    	display: block;
    	color: @color-black;
		}
		a:hover {
			color: #357ebd;
		}
		.fa {
			color: lighten(@color-black, 70%);
			padding:0.5em 0 0.4em 0;
		}
	}
}

.card.card-large {
	width:33%;
	@media (max-width:45rem) {
		width:49%;
	}
	@media (max-width:25rem) {
		width:99%;
	}

	div {
		padding:0 1.5em 1em 1.5em;
		// border: 0 !important;
	}
}

.card.card-large::nth-child(3n) {
	padding-left:0;
}

.card.experts-apply {
	text-align: center;
	i {
		font-size: 5rem;
		color:lighten(#141414, 40%);
	}
	a {
		font-size: 1.25rem;
		line-height: 1.25rem;
		color:lighten(#141414, 40%);
	}
}

.card:nth-child(4n) {
	padding-left:0;
}

.card.card-large:nth-child(4n) {
	padding-left:0.5rem;
}

@media (max-width:45rem) {
	.card:nth-child(2n) {
		padding-left:0;
	}
}
