// styling for content container
.content {
	display: inline-block;
	float: left;
	padding: 1rem;
	margin-bottom: 3rem;
	img {
		max-width:40rem;
	}
	@media (min-width:90rem) {
		width: 60rem;
	}
	@media (max-width: 76rem) {
		max-width: 45rem;
		float: none;
		padding: 2rem;
	}
}