// styling for content container
.content {
	width: 60rem;
	display: inline-block;
	float: left;
	padding: 1rem;
	margin-bottom: 3rem;
	img {
		max-width:40rem;
	}
	@media (max-width: 82rem) {
		max-width: 60rem;
		float: none;
		padding: 2rem;
	}
}