/*
# Type
*/

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1.5rem;
}

/* Verticle Rythum Declaration */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
    margin-bottom:1.5rem;
}