{% include 'bbug::components/header.twig' %}

<div class="account">
  <div class="content">
    <div class="account__column">
      <div class="card account__companies">
        <ul>
          <li class="account__company">
            <span>company name</span>
            <input type="text" placeholder="host url">
          </li>
          <li class="account__company">
            <span>company name</span>
            <input type="text" placeholder="host url">
          </li>
          <li class="account__company">
            <span>company name</span>
            <input type="text" placeholder="host url">
          </li>
        </ul>
        <a href="">create company</a>
        <a href="">request access to company</a>
      </div>
      <div class="card account__forum-posts">
        <ul>
          <li>
            <a href="">
              <p><b>Post title</b><br>
              @user commented: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In vel enim suscipit, natus inventore odio eligendi delectus fugit cum ut blanditiis quis voluptates maxime neque quae, et illum velit excepturi?
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p><b>Post title</b><br>
              @user commented: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In vel enim suscipit, natus inventore odio eligendi delectus fugit cum ut blanditiis quis voluptates maxime neque quae, et illum velit excepturi?
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p><b>Post title</b><br>
              @user commented: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In vel enim suscipit, natus inventore odio eligendi delectus fugit cum ut blanditiis quis voluptates maxime neque quae, et illum velit excepturi?
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="card account__profile">
        <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="">
        <input type="text" placeholder="username">
        <input type="text" placeholder="email">
        <input type="text" placeholder="organisation">
        <input type="text" placeholder="location">
        <input type="text" placeholder="change password">
        <input type="text" placeholder="confirm new password">
      </div>
      <div class="card account__doc-links">
        <a href="">developer docs</a>
        <a href="">API refereance</a>
        <a href="">SDK refereance</a>
        <a href="">forum</a>
        <a href="">support</a>
      </div>
    </div>
  </div>
</div>

{% include 'bbug::components/footer.twig' %}
