{% include 'bbug::components/header.twig' %}

<form action="/login" method="POST" class="login">
  {% if errors %}
      <div class="errors">
        Unable to login please check your email and password. You can reset your password via <a href="forum.bookingbug.com">forum.bookingbug.com</a>
      </div>
  {% endif %}
	<label for="identification">Email</label>
	<input type="email" name="identification" id="identification">
	<label for="password">Password</label>
	<input type="password" name="password" id="password">
	<input type="submit" class="btn btn-primary">
  <a href="/register" class="btn">Register</a>
</form>

{% include 'bbug::components/footer.twig' %}
