{% include 'bbug::components/header.twig' %}

<form action="/login" method="POST" class="login">
  {% for error in errors %}
    <div class="errors">
      {{ error.detail }}
    </div>
  {% endfor %}
	<label for="identification">Email</label>
	<input type="email" name="identification">
	<label for="password">Password</label>
	<input type="password" name="password">
	<input type="submit" class="btn btn-primary">
  <a href="/register" class="btn">Register</a>
</form>

{% include 'bbug::components/footer.twig' %}
