<div class="comments">
	<br>
	<h4 style="color:#6D6D6D;">Want to comment on the documentation?</h4>
	<p class="help-block">Got some feedback regarding the documentation, Want to suggest an edit? Still Not sure about how a feature works? Maybe you've found a mistake? We've enabled Disqus comments so feel free to say something.</p>
	<div id="disqus_thread"></div>
</div>
