    </body>
    <script id="dsq-count-scr" src="//bookingbugdevdocs.disqus.com/count.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/github-gist.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
	<script type="text/javascript" src="bower_components/es5-shim/es5-shim.min.js"></script>
	<script src='bower_components/mprogress/build/js/mprogress.min.js'></script>
	<script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="bower_components/marked/lib/marked.js"></script>
	<script src="assets/build.concat.js" type="text/javascript"></script>
	<style>
	body {
		visibility: visible;
		animation: fadein 2s;
		-moz-animation: fadein 2s; /* Firefox */
		-webkit-animation: fadein 2s; /* Safari and Chrome */
		-o-animation: fadein 2s; /* Opera */
	}
	</style>
</html>
