<nav class="main-menu">
	<ul>
		<li><span><i class="fa fa-fw fa-map-signs">&nbsp;</i>Getting Started</span>
			<ul>
				<li><a href="docs/getting-started/choosing-a-plan">Choosing a plan</a></li>
				<li><a href="docs/getting-started/account-set-up">Account Set up</a></li>
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-code">&nbsp;</i>Widget</span>
			<ul>
				<li><a href="docs/widget">Embed your widget</a></li>
				<li><a href="docs/widget/customise-your-widget">Customise your widget</a></li>
			</ul>
		</li>
<!-- 		<li><span><i class="fa fa-fw fa-object-group">&nbsp;</i>Designer</span>
			<ul>
				<li><a href="designer">Using the designer</a></li>
				<li><a href="">Using the source code</a></li>
			</ul>
		</li> -->
		<li><span><i class="fa fa-fw fa-code-fork">&nbsp;</i>JavaScript SDK</span>
			<ul>
				<li><a href="docs/javascript-sdk">Overview</a></li>
				<li><a href="docs/javascript-sdk/install">Install</a></li>
				<li><a href="docs/javascript-sdk/getting-started">Getting Started</a></li>
				<li><a href="docs/javascript-sdk/page-routing">Page Routing</a></li>
				<li><a href="docs/javascript-sdk/hosting">Hosting</a></li>
				<li><a href="docs/javascript-sdk/affiliate">Affiliate Notifications</a></li>
				<!--<li><a href="https://github.com/BookingBug/JS-SDK-Examples/tree/master" target="_blank">Code Examples</a></li> -->
				<li><a href="docs/javascript-sdk/sso">Single Sign on</a></li>
				<!-- <li><a href="">Examples</a></li> -->
				<!-- <li><a href="http://platform.bookingbug.com/sdkdocs/#/api" target="_blank">SDK Reference</a></li> -->
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-terminal">&nbsp;</i>REST API</span>
			<ul>
				<li><a href="docs/rest-api">Overview</a></li>
				<li><a href="docs/rest-api/authentication">Authentication</a></li>
				<li><a href="docs/rest-api/permissions">Permissions</a></li>
				<li><a href="docs/rest-api/company">Company</a></li>
				<li><a href="docs/rest-api/listing-items">Listing Items</a></li>
				<li><a href="docs/rest-api/listing-events">Listing Events</a></li>
				<li><a href="docs/rest-api/bookable-items">Bookable Items</a></li>
				<li><a href="docs/rest-api/availability">Availability</a></li>
				<li><a href="docs/rest-api/basket">Basket</a></li>
				<li><a href="docs/rest-api/slots">Slots</a></li>
				<li><a href="docs/rest-api/admin-bookings">Admin Bookings</a></li>
				<li><a href="docs/rest-api/purchases">Purchases</a></li>
				<li><a href="docs/rest-api/people">People</a></li>
				<li><a href="docs/rest-api/service">Service</a></li>
				<li><a href="docs/rest-api/event-chains">Event Chains</a></li>
				<li><a href="docs/rest-api/resource">Resource</a></li>
				<li><a href="docs/rest-api/client">Client</a></li>
				<!--<li><a href="docs/rest-api/service-booking">Service Booking Guide</a></li>-->
				<!--<li><a href="docs/rest-api/event-booking">Event Booking Guide</a></li>-->
				<li><a href="docs/rest-api/members">Members</a></li>
				<li><a href="docs/rest-api/queuing">Queueing System</a></li>
				<!--<li><a href="docs/rest-api/checkout">Checkout</a></li>-->
				<li><a href="docs/rest-api/sso">Single Sign On</a></li>
				<li><a href="docs/rest-api/shift-pattern">Shift Patterns</a></li>
				<li><a href="docs/rest-api/webhook">Webhook</a></li>
				<!-- <li><a href="">Packages and Bulk Purchases</a></li>
				<li><a href="">Discounts</a></li> -->
				<li><a href="http://apidocs.bookingbug.com/" target="_blank">API Reference</a></li>
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-life-ring">&nbsp;</i>Tools &amp; Support</span>
			<ul>
				<!-- <li><a href="/tools-and-support/useful-tools" target="_blank">Useful Tools</a></li> -->
				<!-- <li><a href="docs/roadmap">Documentation Roadmap</a></li> -->
				<li><a href="docs/newsletter">Developer Newsletter</a></li>
				<li><a href="http://feedback.bookingbug.com/hc/en-gb" target="_blank">Knowledge Base</a></li>
				<li><a href="https://www.youtube.com/user/BookingBug1" target="_blank">Video Tutorials</a></li>
				<li><a href="http://feedback.bookingbug.com/hc/en-gb/requests/new" target="_blank">Contact Support</a></li>
				<li><a href="https://github.com/BookingBug" target="_blank">Github</a></li>
				<!-- <li><a href="http://stackoverflow.com/search?q=bookingbug" target="_blank">StackOverflow</a></li> -->
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-plug">&nbsp;</i>Integrations</span>
			<ul>
				<!-- <li><a href="docs/integrations">Featured Integrations</a></li> -->
				<li><a href="docs/integrations/enterprise">Enterprise platforms &amp; services</a></li>
				<li><a href="docs/integrations/business-intelligence">Business intelligence, data &amp; accounting</a></li>
				<li><a href="docs/integrations/mobile-payment">Mobile &amp; online payments</a></li>
				<li><a href="docs/integrations/sme-social">SME &amp; social</a></li>
			</ul>
		</li>
		<li><span><i class="fa fa-fw fa-rocket">&nbsp;</i>Experts</span>
			<ul>
				<li><a href="docs/experts">Find an Expert</a></li>
				<li><a href="docs/experts/apply-to-become-an-expert">Apply to become an Expert</a></li>
			</ul>
		</li>
		<li>
			<ul>
				<li class="details">
					Copyright BookingBug <br>
					Last Revision: 28<sup>th</sup> July 2016 <br>
					Documentation Version 2.2.4
				</li>
			</ul>
		</li>
	</ul>
</nav>
